      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      #map {
          height: 550px;
          width: 95%
      }

      /* Optional: Makes the sample page fill the window. */

     

      #description {
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
      }

      #infowindow-content .title {
          font-weight: bold;
      }

      #infowindow-content {
          display: none;
      }

      #map #infowindow-content {
          display: inline;
      }

      .pac-card {
          margin: 10px 10px 0 0;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          background-color: #fff;
          font-family: Roboto;
      }

      #pac-container {
          padding-bottom: 12px;
          margin-right: 12px;
      }

      .pac-controls {
          display: inline-block;
          padding: 5px 11px;
      }

      .pac-controls label {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
      }

      #pac-input {
          background-color:#f5f5f5;
          font-family: Roboto;
          font-size: 2em;
          font-weight: 300;
          margin-left: 12px;
          margin-top: 15px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 70%;
          border-radius: 6px;
          border: 1;
          border-color: #000;
          outline: none;
      }

      #pac-input:focus {
          border-color: #4d90fe;
      }

      #title {
          color: #fff;
          background-color: #4d90fe;
          font-size: 25px;
          font-weight: 500;
          padding: 6px 12px;
      }

      #target {
          width: 345px;
      }

      /* ESTILO NAVBAR */
      .navbar {
        background-color: #4d606e;
      }
      .navbar .navbar-brand {
        color: #d3d4d8;
      }
      .navbar .navbar-brand:hover,
      .navbar .navbar-brand:focus {
        color: #f5f5f5;
      }
      .navbar .navbar-text {
        color: #d3d4d8;
      }
      .navbar .navbar-text a {
        color: #f5f5f5;
      }
      .navbar .navbar-text a:hover,
      .navbar .navbar-text a:focus {
        color: #f5f5f5; 
      }
      .navbar .navbar-nav .nav-link {
        color: #d3d4d8;
        border-radius: .25rem;
        margin: 0 0.25em;
      }
      .navbar .navbar-nav .nav-link:not(.disabled):hover,
      .navbar .navbar-nav .nav-link:not(.disabled):focus {
        color: #f5f5f5;
      }
      .navbar .navbar-nav .dropdown-menu {
        background-color: #4d606e;
        border-color: #3fbac2;
      }
      .navbar .navbar-nav .dropdown-menu .dropdown-item {
        color: #d3d4d8;
      }
      .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
      .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
      .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
        color: #f5f5f5;
        background-color: #3fbac2;
      }
      .navbar .navbar-nav .dropdown-menu .dropdown-divider {
        border-top-color: #3fbac2;
      }
      .navbar .navbar-nav .nav-item.active .nav-link,
      .navbar .navbar-nav .nav-item.active .nav-link:hover,
      .navbar .navbar-nav .nav-item.active .nav-link:focus,
      .navbar .navbar-nav .nav-item.show .nav-link,
      .navbar .navbar-nav .nav-item.show .nav-link:hover,
      .navbar .navbar-nav .nav-item.show .nav-link:focus {
        color: #f5f5f5;
        background-color: #3fbac2;
      }
      .navbar .navbar-toggle {
        border-color: #3fbac2;
      }
      .navbar .navbar-toggle:hover,
      .navbar .navbar-toggle:focus {
        background-color: #3fbac2;
      }
      .navbar .navbar-toggle .navbar-toggler-icon {
        color: #d3d4d8;
      }
      .navbar .navbar-collapse,
      .navbar .navbar-form {
        border-color: #d3d4d8;
      }
      .navbar .navbar-link {
        color: #d3d4d8;
      }
      .navbar .navbar-link:hover {
        color: #f5f5f5;
      }
      
      @media (max-width: 575px) {
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #d3d4d8;
        }
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #f5f5f5;
        }
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #f5f5f5;
          background-color: #3fbac2;
        }

        
      }
      
      @media (max-width: 767px) {
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #d3d4d8;
        }
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #f5f5f5;
        }
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #f5f5f5;
          background-color: #3fbac2;
        }
      }
      
      @media (max-width: 991px) {
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #d3d4d8;
        }
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #f5f5f5;
        }
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #f5f5f5;
          background-color: #3fbac2;
        }
      }
      
      @media (max-width: 1199px) {
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
          color: #d3d4d8;
        }
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
          color: #f5f5f5;
        }
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
          color: #f5f5f5;
          background-color: #3fbac2;
        }
      }
      
      .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #d3d4d8;
      }
      .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
      .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #f5f5f5;
      }
      .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #f5f5f5;
        background-color: #3fbac2;
      }